:root {
    --title-color: #212121;
    --hero-title-color: #FFFFFF;
    --hover-color: #2196F3;
    --fontsize-title: 14px;
    --background-hero: #2F303A;
    --lineheight-basic: 1.14;
    --leter-spacingmain: 0.03em;
    --align-centermain: center;
    --font-weight-basic: 500;
    --background-second: #F5F4FA;
}

body {
    font-family: 'Roboto',
        sans-serif;
    color: #757575;
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.header {
    background: var(--hero-title-color);
}


.logo-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: var(--leter-spacingmain);
}

.logo-first {
    color: var(--hover-color);
}

.logo-second {
    color: #000;
}

.link:hover,
.link:focus {
    color: var(--hover-color);
}

.link {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}



.link-nav {
    font-weight: var(--font-weight-basic);
    font-size: var(--fontsize-title);
    line-height: var(--lineheight-basic);
    letter-spacing: 0.02em;
    color: var(--title-color);
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.current {
    color: var(--hover-color);
}


.link-head {
    font-weight: var(--font-weight-basic);
    font-size: var(--fontsize-title);
    line-height: var(--lineheight-basic);
    letter-spacing: 0.02em;
    color: inherit;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.list {
    list-style: none;
}

.hero {
    background: var(--background-hero);
    margin: 0;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hero-title-color);
    max-width: 690px;
    margin: 0 auto;
    text-align: center;
    padding-top: 200px;
    margin-bottom: 30px;
}

.button {
    display: block;
    font-family: inherit;
}

.button-hero {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--hero-title-color);
    background: var(--hover-color);
    cursor: pointer;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 10px 32px;
    border-radius: 4px;
    margin-bottom: 200px;
}

.button-hero:hover,
.button-hero:focus {
    background: #188CE8;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.benefits {
    background: var(--hero-title-color);
}

.title-benefits {
    font-size: var(--fontsize-title);
    line-height: var(--lineheight-basic);
    letter-spacing: var(--leter-spacingmain);
    text-transform: uppercase;
    color: var(--title-color);
}

.benefits-text {
    font-size: var(--fontsize-title);
    line-height: 1.71;
    letter-spacing: var(--leter-spacingmain);
    margin-top: 10px;
}

.work-example {
    background: var(--hero-title-color);
}


.work-title {
    text-align: var(--align-centermain);
    letter-spacing: var(--leter-spacingmain);
    color: var(--title-color);
    margin-bottom: 50px;
}

.team {
    background: var(--background-second);
}

.team-list {
    background: var(--hero-title-color);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    text-align: var(--align-centermain);
    letter-spacing: var(--leter-spacingmain);
    color: var(--title-color);
    margin-bottom: 50px;
}

.title {
    font-size: 36px;
    line-height: 1.16;
}

.title-after {
    font-weight: var(--font-weight-basic);
    text-align: var(--align-centermain);
    letter-spacing: var(--leter-spacingmain);
    color: var(--title-color);
    font-size: 16px;
    line-height: 1.18;
}

.team-text {
    text-align: var(--align-centermain);
    letter-spacing: var(--leter-spacingmain);
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.18;
}


.logo-footer {
    display: block;
}

.logo-third {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: var(--leter-spacingmain);
    color: var(--hero-title-color);
}

.navigation {
    background: var(--background-hero);
}

.navigation-after {
    font-style: normal;
}

.street {
    font-size: var(--fontsize-title);
    letter-spacing: var(--leter-spacingmain);
    color: var(--hero-title-color);
    line-height: 1.71;
    display: block;
}

.nav {
    font-size: var(--fontsize-title);
    letter-spacing: var(--leter-spacingmain);
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
    display: block;
}

.work-item {
    background: var(--hero-title-color);
}

.buutton-filter {
    font-weight: var(--font-weight-basic);
    font-size: 16px;
    line-height: 1.62;
    text-align: var(--align-centermain);
    letter-spacing: var(--leter-spacingmain);
    color: var(--title-color);
    background: var(--background-second);
    cursor: pointer;
    padding: 6px 22px;
    border-radius: 4px;
    margin-bottom: 50px;
}

.buutton-filter:hover,
.buutton-filter:focus {
    background: var(--hover-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--hero-title-color);
}

.link-filter {
    display: block;
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

.title-filter {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
    padding: 20px 24px 0;
}

.title-part {
    text-transform: uppercase;
}

.text-filter {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: var(--leter-spacingmain);
    margin-top: 4px;
    padding: 0 24px 20px;
}


.header {
    border-bottom: 1px solid #ECECEC;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-list-item:not(:last-child) {
    margin-right: 50px;
}


.header-list-info {
    display: flex;
    margin-left: auto;
}

.logo {
    display: block;
    margin-right: 93px;
}



.benefits-list-item {
    display: flex;
    margin-left: -30px;
}

.benefits-item {
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
    margin-top: -10px;
}

.benefits-text {
    margin-top: 10px;
}

.work-container {
    display: flex;
}


.work-list-item:not(:first-child) {
    margin-left: 30px;
}


.team-container {
    display: flex;
}

.team-list:not(:first-child) {
    margin-left: 30px;
}

.team-text-container {
    padding: 30px 0;
}

.name {
    padding: 0 70px;
}

.second-name {
    padding: 0 83px;
}

.fourth-name {
    padding: 0 63px 0 62px;
}

.second-text {
    padding: 0 61px 0 62px;
}

.third-text {
    padding: 0 97px;
}

.fourth-text {
    padding: 0 91px 0 92px;
}

.logo-footer {
    display: block;
    padding-top: 60px;
}

.list-item-footer {
    margin-top: 9px;
}

.footer-item-adress {
    margin-top: 20px;
}

.tel-footer {
    padding-bottom: 60px;
}

.nav-container {
    display: flex;
    justify-content: center;
}

.button-nav:not(:last-child) {
    margin-right: 8px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.filter-list-item {
    flex-basis: calc(100% / 3 - 60px);
    margin-left: 30px;
    margin-top: 30px;
}

.filter-container {
    border: 1px solid #EEEEEE;
    border-top: 0;
}